h3 {
  font-family: $main-font;
  margin: 10px;
  text-align: center;
  font-size: 28px;
  color: $header-text-color;
}

.overlay-div {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10;
}

.login-pop-up {
  position: fixed;
  width: 300px;
  height: 500px;
  background-color: $background-color;
  border-radius: 10px;
  padding: 20px;
  margin-left: -150px;
  margin-top: -250px;
  left: 50%;
  top: 50%; 
  box-shadow: 2px 2px 8px black;
  z-index: 10;
}