.map-container {
  margin: 0;
  width: 100%;
  height: 76vh;
}

#map {
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.marker {
  &:focus {
    outline: none;
  }
}

.tooltip {
  padding: 10px;
  background-color: $background-color;
  border: none;
  border-radius: 10px;

  .stations-link {
    font-family: $main-font;
    color: $main-text-color;
    font-size: 14px;
    display: block;
    margin: 5px auto;
  }

  h4 {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    color: $header-text-color;
    margin: 5px;
    text-align: center;
  }
  
  p {
    font-family: $main-font;
    color: $main-text-color;
    margin: 5px;
  }

  .click-text {
    color: $hover-color;
  }
}

.fa-location-arrow {
  font-size: 16px;
  color: grey;
  position: absolute;
  top: 203px;
  right: 15px;
  z-index: 12;

  &:hover {
    color: $hover-color;
  }
}


.leaflet-search-control,
.leaflet-search-control-active {
  padding: 0 50px 0 10px;
  border: none;
  background: transparent;

  .leaflet-search-input {
    border: none;
    background: transparent;
  }

  .leaflet-search-icon {
    display: none;
  }

  .leaflet-search-close {
    padding-top: 6px;
    margin-right: 35px;
  }

  .leaflet-search-control-info {
    border: 1px solid lightgrey;
    top: 65px;
    right: 5px;
    width: 280px;
  }
}

@media screen and (max-width: 1140px) {
  .fa-location-arrow {
    top: 192px;
  }
}

@media screen and (max-width: 910px) {
  .fa-location-arrow {
    top: 260px;
  }
}

@media screen and (max-width: 670px) {
  .fa-location-arrow {
    top: 22px;
  }

  .map-container {
    // height: 510px;
    order: -1;
  }
}

@media screen and (max-width: 350px) {
  // .map-container {
  //   height: 415px;
  // }

  .leaflet-control-zoom {
    display: none;
  }
}

