.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large, {
  background-color: rgba(45, 156, 219, 0.6);

  div {
    background-color: rgba(45, 156, 219, 0.6);
  }
}

.map-container {
  margin: 0;
  width: 100%;
  height: 80vh;
}

.leaflet-pulsing-icon {
  box-shadow: none;
}

.leaflet-pulsing-icon:after {
  height: 200%;
  width: 200%;
  margin: -50% 0 0 -48%;
}

#map {
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.marker {
  &:focus {
    outline: none;
  }
}

.leaflet-popup-content-wrapper {
  background-color: #4F4F4F;
}

.leaflet-popup-tip {
  background-color: #4F4F4F;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-marker-icon {
  &:focus {
    outline: none;
  }
}

.tooltip {
  border: none;
  border-radius: 10px;

  h4 {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    color: $header-text-color;
    margin: 3px 0;
    text-align: center;
  }

  .network-name-text {
    margin-bottom: 7px;
  }
  
  p {
    font-size: 14px;
    font-family: $main-font;
    color: $main-text-color;
    margin: 2px 0;
  }

  .click-text {
    text-decoration: underline;
    text-align: center;
    margin-top: 7px;
    cursor: pointer;

    &:hover {
      color: $hover-color;
    }
  }
}

.fa-location-arrow {
  font-size: 16px;
  color: grey;
  position: absolute;
  top: 159px;
  right: 15px;
  z-index: 12;

  &:hover {
    color: $hover-color;
  }
}

.leaflet-search-control-input {
  font-family: $main-font;
  margin-bottom: 5px;
}


.leaflet-search-control-info-li {
  p {
    font-family: $main-font;
  }
}


.leaflet-search-control,
.leaflet-search-control-active {
  padding: 0 50px 0 10px;
  border: none;
  background-color: white;

  .leaflet-search-input {
    border: none;
    background: transparent;
  }

  .leaflet-search-icon {
    display: none;
  }

  .leaflet-search-close {
    padding-top: 6px;
    margin-right: 35px;
  }

  .leaflet-search-control-info {
    font-family: $main-font;
    border: 1px solid lightgrey;
    top: 65px;
    right: 5px;
    width: 300px;
  }
}

@media screen and (max-width: 910px) {
  .map-container {
    height: 73vh;
  }

  .fa-location-arrow {
    top: 207px;
  }
}

@media screen and (max-width: 670px) {
  .fa-location-arrow {
    top: 20px;
  }

  .map-container {
    height: 75vh;
    order: -1;
  }
}

@media screen and (max-width: 350px) {
  .leaflet-control-zoom {
    display: none;
  }
}

