header {
  background-color: $background-color;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
  align-items: flex-end;
}

#title {
  font-size: 60px;
  font-weight: 800;
  font-family: $main-font;
  color: $header-text-color;
  text-decoration: none;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.nav-links {
  font-family: $main-font;
  display: block;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: $main-text-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}

