header {
  background-color: $background-color;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
  align-items: flex-end;
}

.title-div {
  display: flex;
  align-items: flex-end;
}

.active {
  i,
  div {
    color: #BB6BD9;
  }
}

#title {
  font-size: 60px;
  font-weight: 800;
  font-family: $main-font;
  color: $header-text-color;
  text-decoration: none;
}

.loading-text {
  margin: 6px 15px;
  font-size: 18px;
  color: #BB6BD9;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.nav-links {
  font-family: $main-font;
  display: block;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: $main-text-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}

@media screen and (max-width: 970px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 670px) {
  header {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  #title {
    font-size: 40px;
  }

  .loading-text {
    margin: 4px 10px;
    font-size: 14px;
    color: #BB6BD9;
  }
}

@media screen and (max-width: 350px) {
  nav {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }

  .nav-links {
    font-size: 14px;
    margin: 5px;
    width: 75px;
  }
}

