header {
  background-color: $background-color;
  padding: 30px;
  height: 20vh;
}

.header-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-end;
}

.title-div {
  display: flex;
  align-items: flex-end;
}

.active {
  i,
  div {
    color: #BB6BD9;
  }
}

#title {
  font-size: 60px;
  font-weight: 800;
  font-family: $main-font;
  color: $header-text-color;
  text-decoration: none;
}

.loading-text {
  text-align: left;
  margin: 6px 15px;
  font-size: 16px;
  color: #BB6BD9;
}

.welcome-text {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 0;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.nav-links {
  font-family: $main-font;
  display: block;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: $main-text-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}

@media screen and (max-width: 1275px) {
  .header-div {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1140px) {
  .loading-text {
    margin: 4px 10px;
    font-size: 14px;
  }

  .welcome-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 910px) {
  header {
    height: 27vh;
    padding: 20px;
  }

  .welcome-text {
    display: none;
  }

  .header-div {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 670px) {
  header {
    height: 25vh;
  }
  
  .subheader-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
    height: 55px;
  }

  .header-div {
    grid-template-columns: 1fr;
  }

  nav {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  }

  .loading-text {
    font-size: 12px;
  }

  #title {
    font-size: 40px;
  }

  .nav-links {
    margin: 5px auto;
    font-size: 14px;
    width: 60px;
  }
}

@media screen and (max-width: 350px) {
  nav {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}

